/* General Page Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #0C0420;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

/* Header Styling */
#main-header {
    background-color: #5D3C64;
    color: white;
    padding: 20px;
    border-bottom: 5px solid #D391B0;
}

/* Content Section */
.content {
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    background-color: #7B466A;
    border: 2px solid #9F6496;
    border-radius: 10px;
}

/* Styled Image */
.styled-image {
    width: 300px;
    height: auto;
    border: 3px solid #BA6E8F;
    padding: 5px;
    margin-top: 15px;
    border-radius: 10px;
}

/* Favorite Images Section */
.favorites {
    background-color: #5D3C64;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: 80%;
}

.image-gallery img {
    width: 200px;
    height: auto;
    margin: 10px;
    border: 3px solid #D391B0;
    border-radius: 8px;
}

/* Spotify Embed Section */
.spotify {
    background-color: #7B466A;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: 60%;
}

/* Footer */
footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #5D3C64;
    color: white;
}
